<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="python_cgi" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Users\user\AppData\Local\Programs\Python\Python37-32\python.exe %s %s" resourceType="File" />
        </handlers>
		<directoryBrowse enabled="true"/>
    </system.webServer>
</configuration>
